@charset "UTF-8";
/*PALETA DE COLORES DE SITE*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&family=Quicksand:wght@300;400&display=swap");
* {
  /*MODO CELULAR!!!!!!!!!*/
  /*MODO CELULAR!!!!!!!!!*/
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-family: Quicksand;
  font-size: small;
  font-weight: bold;
}

body {
  font-family: Manrope;
}

nav-link {
  font-family: Quicksand;
  font-size:large;
}

